---
import Layout from '../layouts/Layout.astro';
---

<Layout title='blah'>
	<div class="Performed" style="width: 375px; height: 812px; position: relative; background: #F3F6FA; border-radius: 24px; overflow: hidden">
		<div class="Background" style="width: 375px; height: 312px; left: 375px; top: 812px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; background: white; border-radius: 12px"></div>
		<div class="Home" style="width: 375px; height: 120px; left: 0px; top: 692px; position: absolute">
		  <div class="Rectangle70" style="width: 375px; height: 120px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.60); backdrop-filter: blur(60px)"></div>
		  <div class="Homeindicator" style="width: 375px; height: 36px; padding-top: 23px; padding-bottom: 8px; padding-left: 121px; padding-right: 120px; left: 0px; top: 84px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
			<div class="HomeIndicator" style="width: 134px; height: 5px; background: #282A31; border-radius: 100px"></div>
		  </div>
		  <div class="Button" style="width: 343px; height: 52px; padding: 8px; left: 16px; top: 16px; position: absolute; background: #3D70FF; border-radius: 12px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
			<div class="Button" style="text-align: center; color: white; font-size: 16px; font-family: SF Pro Text; font-weight: 600; line-height: 20px; word-wrap: break-word">To Main</div>
		  </div>
		</div>
		<div class="OperationDetails" style="width: 343px; height: 36px; left: 16px; top: 520px; position: absolute">
		  <div class="OperationDetails" style="left: 48px; top: 8px; position: absolute; color: #282A31; font-size: 16px; font-family: SF Pro Text; font-weight: 400; line-height: 20px; word-wrap: break-word">Operation details</div>
		  <div class="Icon" style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute">
			<div class="Ellipse15" style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: #F3F6FA; border-radius: 9999px"></div>
			<div class="Info" style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
			  <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
			  <div class="Vector" style="width: 15px; height: 15px; left: 2.50px; top: 2.50px; position: absolute; border: 0.75px #3D70FF solid"></div>
			  <div class="Vector" style="width: 1.25px; height: 4.38px; left: 9.38px; top: 9.38px; position: absolute; background: #3D70FF; border: 0.75px #3D70FF solid"></div>
			  <div class="Vector" style="width: 1.88px; height: 1.88px; left: 8.91px; top: 5.62px; position: absolute; background: #3D70FF"></div>
			</div>
		  </div>
		  <div class="IconCaretdown" style="width: 12px; height: 12px; left: 331px; top: 12px; position: absolute">
			<div class="Caretdown" style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute">
			  <div class="Vector" style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute"></div>
			  <div class="Vector" style="width: 7.50px; height: 3.75px; left: 2.25px; top: 4.50px; position: absolute; opacity: 0.30; border: 0.75px #282A31 solid"></div>
			</div>
		  </div>
		</div>
		<div class="Cart" style="width: 106px; height: 108px; left: 16px; top: 358px; position: absolute">
		  <div style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute">
			<div class="Rectangle60" style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px"></div>
			<div style="left: 33px; top: 60px; position: absolute; opacity: 0.60; text-align: center; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Open<br/>receipt</div>
		  </div>
		  <div class="Icon" style="width: 36px; height: 36px; left: 35px; top: 16px; position: absolute">
			<div class="Ellipse12" style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3D70FF; border-radius: 9999px"></div>
			<div class="Receipt" style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
			  <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
			  <div class="Vector" style="width: 8.12px; height: 0px; left: 5.94px; top: 8.12px; position: absolute; border: 0.75px white solid"></div>
			  <div class="Vector" style="width: 8.12px; height: 0px; left: 5.94px; top: 10.62px; position: absolute; border: 0.75px white solid"></div>
			  <div class="Vector" style="width: 15px; height: 12.50px; left: 2.50px; top: 3.75px; position: absolute; border: 0.75px white solid"></div>
			</div>
		  </div>
		</div>
		<div class="Cart" style="width: 106px; height: 108px; left: 134px; top: 358px; position: absolute">
		  <div style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute">
			<div class="Rectangle60" style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px"></div>
			<div style="left: 32px; top: 60px; position: absolute; opacity: 0.60; text-align: center; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Create<br/>sample</div>
		  </div>
		  <div class="Icon" style="width: 36px; height: 36px; left: 35px; top: 16px; position: absolute">
			<div class="Ellipse13" style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3D70FF; border-radius: 9999px"></div>
			<div class="Star" style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
			  <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
			  <div class="Vector" style="width: 16.25px; height: 15.63px; left: 1.88px; top: 1.87px; position: absolute; border: 0.75px white solid"></div>
			</div>
		</div>
		</div>
		<div class="Recipient" style="width: 343px; height: 57px; left: 16px; top: 343px; position: absolute">
		  <div class="9955597288" style="left: 0px; top: 24px; position: absolute; color: #282A31; font-size: 16px; font-family: SF Pro Text; font-weight: 500; line-height: 20px; word-wrap: break-word">+995 559 72 88</div>
		  <div class="Aleksandr" style="left: 0px; top: 0px; position: absolute; opacity: 0.60; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Aleksandr</div>
		  <div class="Rectangle68" style="width: 343px; height: 1px; left: 0px; top: 56px; position: absolute; opacity: 0.06; background: #282A31"></div>
		  </div>
		<div class="Recipient" style="width: 343px; height: 57px; left: 16px; top: 343px; position: absolute">
		  <div class="9955597288" style="left: 0px; top: 24px; position: absolute; color: #282A31; font-size: 16px; font-family: SF Pro Text; font-weight: 500; line-height: 20px; word-wrap: break-word">+995 559 72 88</div>
		  <div class="Aleksandr" style="left: 0px; top: 0px; position: absolute; opacity: 0.60; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Aleksandr</div>
		  <div class="Rectangle68" style="width: 343px; height: 1px; left: 0px; top: 56px; position: absolute; opacity: 0.06; background: #282A31"></div>
		</div>
		<div class="Cart" style="width: 106px; height: 108px; left: 253px; top: 358px; position: absolute">
		  <div style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute">
			<div class="Rectangle60" style="width: 106px; height: 108px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px"></div>
			<div style="left: 28px; top: 60px; position: absolute; opacity: 0.60; text-align: center; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Repeat<br/>payment</div>
		  </div>
		  <div class="Icon" style="width: 36px; height: 36px; left: 35px; top: 16px; position: absolute">
			<div class="Ellipse14" style="width: 36px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3D70FF; border-radius: 9999px"></div>
			<div class="Arrowclockwise" style="width: 20px; height: 20px; left: 8px; top: 8px; position: absolute">
			  <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
			  <div class="Vector" style="width: 3.75px; height: 3.75px; left: 13.77px; top: 4.04px; position: absolute; border: 0.75px white solid"></div>
			  <div class="Vector" style="width: 14.39px; height: 13.75px; left: 3.12px; top: 3.12px; position: absolute; border: 0.75px white solid"></div>
			</div>
		  </div>
		</div>
		<div class="Completed12September1600" style="left: 95px; top: 318px; position: absolute; opacity: 0.60; text-align: center; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">Completed, 12 September 16:00</div>
		<div class="NoCommission" style="left: 144px; top: 298px; position: absolute; opacity: 0.60; text-align: center; color: #282A31; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 16px; word-wrap: break-word">No commission</div>
		<div style="left: 147px; top: 256px; position: absolute; text-align: center; color: #282A31; font-size: 30px; font-family: SF Pro Text; font-weight: 900; line-height: 30px; word-wrap: break-word">100$</div>
		<div class="AleksanderDmitrievichV" style="left: 86px; top: 220px; position: absolute; text-align: center; color: #282A31; font-size: 17px; font-family: SF Pro Text; font-weight: 600; line-height: 24px; word-wrap: break-word">Aleksander Dmitrievich V.</div>
		<div class="IconCheck" style="width: 78px; height: 78px; left: 150px; top: 118px; position: absolute">
		  <div class="Ellipse11" style="width: 78px; height: 78px; left: 0px; top: 0px; position: absolute; background: #53B052; border-radius: 9999px"></div>
		  <div class="Check" style="width: 46px; height: 46px; left: 16px; top: 16px; position: absolute">
			<div class="Vector" style="width: 46px; height: 46px; left: 0px; top: 0px; position: absolute"></div>
			<div class="Vector" style="width: 30.19px; height: 20.12px; left: 8.62px; top: 12.94px; position: absolute; border: 1.50px white solid"></div>
		  </div>
		</div>
		<div class="StatusBar" style="padding-top: 14px; padding-bottom: 13px; padding-left: 25px; padding-right: 23.60px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; gap: 195px; display: inline-flex">
		  <div class="StatusbarTime" style="flex: 1 1 0; align-self: stretch; padding-top: 1px; border-radius: 24px; justify-content: center; align-items: center; display: inline-flex">
			<div class="41" style="width: 54px; height: 20px; text-align: center; color: #282A31; font-size: 17px; font-family: SF Pro Text; font-weight: 600; line-height: 22px; word-wrap: break-word">9:41</div>
		  </div>
		  <div class="RightSide" style="width: 77.40px; height: 13px; position: relative">
			<div class="Battery" style="width: 27.40px; height: 13px; left: 50px; top: 0px; position: absolute">
			  <div class="Outline" style="width: 25px; height: 13px; left: 0px; top: 0px; position: absolute; opacity: 0.35; background: #282A31; border-radius: 4px"></div>
			  <div class="BatteryEnd" style="width: 1.40px; height: 4.22px; left: 26px; top: 5px; position: absolute; opacity: 0.40; background: #282A31"></div>
			  <div class="Fill" style="width: 21px; height: 9px; left: 2px; top: 2px; position: absolute; background: #282A31; border-radius: 2px"></div>
			</div>
			<img class="Wifi" style="width: 17px; height: 12px; left: 26px; top: 1px; position: absolute" src="https://via.placeholder.com/17x12" />
			<div class="IconMobileSignal" style="width: 18px; height: 12px; left: 0px; top: 1px; position: absolute; background: #282A31"></div>
		  </div>
		</div>
	  </div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
